
<div class="relative bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <img class="h-8 w-auto sm:h-10" src="https://edustorage.oss-ap-southeast-5.aliyuncs.com/assets/edufund-logo.svg?shade=600" alt="">
        </a>
      </div>
      <nav class="hidden space-x-10 md:flex">

        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Beranda</a>
        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Cara Kerja</a>
        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Cara Bayar</a>
        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Tentang Kami</a>
        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Hubungi Kami</a>

      </nav>

      <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
        <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900" title="merupakan indikator sementara keberhasilan penyelenggara Fintech P2P Lending dalam memfasilitasi penyelesaian kewajiban pinjam meminjam dalam jangka waktu sampai dengan 90 hari terhitung sejak jatuh tempo"
        >TKB90 = 100%</a>
      </div>

      <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
        <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">Masuk</a>
        <a href="#" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Daftar</a>
      </div>
    </div>
  </div>

  


<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="col-12 mb-2">
    <div class="text-title items-center" style="font-size: 28px; text-align: center; margin-bottom: 20px;">Dokumen yang harus kamu siapkan</div>
  </div>
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

          <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
              <img class="mb-3 w-24 h-25 rounded-full shadow-lg -mt-8" src="../assets/icon-pekerja.png" alt="Pekerja">
              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Pekerja</h5>
              <div class="flex mt-4 space-x-3 md:mt-6">
                <div class="items-center">
                      <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);">KTP (Kartu Tanda Penduduk)</li>
                      <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);">Bukti Penghasilan</li>
                      <li style="color: orange;margin-left: 50px;;"><span style="color: #000;">NPWP, atau</span></li>
                      <li style="color: orange;margin-left: 50px;;"><span style="color: #000;">Slip Gaji, atau</span></li>
                      <li style="color: orange;margin-left: 50px;;"><span style="color: #000;">Surat Keterangan Kerja, atau</span></li>
                      <li style="color: orange;margin-left: 50px;;"><span style="color: #000;">Rekening Koran 1 bulan terakhir</span></li>
                      <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);"> Tagihan pembayaran dari institusi pendidikan (selain EduCash) </li>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

          <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
              <img class="mb-3 w-24 h-25 rounded-full shadow-lg -mt-8" src="../assets/icon-pekerja.png" alt="WiraSwasta">
              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">WiraSwasta</h5>
              <div class="flex mt-4 space-x-3 md:mt-6">
                <div class="items-center">
                      <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);">KTP (Kartu Tanda Penduduk)</li>
                      <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);">Bukti Penghasilan Usaha</li>
                      <li style="color: orange;margin-left: 50px;;"><span style="color: #000;">NPWP, atau</span></li>
                      <li style="color: orange;margin-left: 50px;;"><span style="color: #000;">Rekening Koran 1 bulan terakhir</span></li>
                      
                      <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);"> Tagihan pembayaran dari institusi pendidikan (selain EduCash) </li>
                </div>
              </div>
            </div>
          </div>

      </div>
      
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

        <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
          <div class="flex flex-col items-center pb-10">
            <img class="mb-3 w-24 h-25 rounded-full shadow-lg -mt-8" src="../assets/icon-pekerja.png" alt="Pelajar">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Pelajar</h5>
            <div class="flex mt-4 space-x-3 md:mt-6">
              <div class="items-center">
                    <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);">KTP (Kartu Tanda Penduduk)</li>
                    <li style="list-style-image: url(https://edufund.co.id/icon-check.956d764ed0fa006606f8.svg);"> Tagihan pembayaran dari institusi pendidikan (selain EduCash) </li>
              </div>
            </div>
          </div>
        </div>

      </div>

  </div>
</div>
 
  <swiper
    [slidesPerView]="3"
    [spaceBetween]="20"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template swiperSlide *ngFor="let data of allSwipe" ><img src="{{data.src}}"></ng-template>
  </swiper>



</div>